img {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    top: 40%;
    left:30%;
    display: block;
    width:50%;
}

@keyframes slidein {
    from {
      
        width:50%;
        top: 40%;
        left:30%;
    }
    to {
      
        width:0%;
        top: 60%;
        left:40%;
    }
}