@import url(base.css);
body {
    background-image: url('../image/img_cover.png');
    background-size: cover;
    background-repeat:no-repeat;

}
.hidden{
    display:none;
}

.container {
    height: auto;
}

.camera {
    position: absolute;
    left: 40%;
    bottom: 15%;
}

.txt-activity-rule {
    position: absolute;
    bottom: 10%;
    left: 40%;
    color: #ff0082;
    font-size: 18px;
    font-weight: 2;
    text-decoration: underline;
}

.input-upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
}
/*modal*/
.modal {
    position: fixed;
    top: 18%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    background-color: #00000000;
}

.modal-dialog {
    margin: 10% auto;
    width: 70%;
    background-color: #ff0082;
    color: #FFFFFF;
    padding: 6px;
    border-radius: 10px;
    font-weight: 2;
}

.modal-btn-close {
    text-align: right;
}

.modal-content {
    text-align: center;
}